<!DOCTYPE html>
<html lang="es">
<head>

	<title>lgm</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" type="text/css" href="/media/materialize/css/materialize.css">
	<link rel="stylesheet" type="text/css" href="/media/materialize/css/materailize.min.css">
	<script src="/media/materialize/js/materialize.min.js"></script>
	<script src="{{ MEDIA_URL }}js/materialize.min.js"></script>

	<link rel="stylesheet" href="{{ MEDIA_URL }}css/estilo.css">
</head>

<body>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <header>
	    <nav>
   			<div class="nav-wrapper   blue lighten-1">
      			<a href="#" class="brand-logo">Logo</a>
      			<ul id="nav-mobile" class="right hide-on-med-and-down">
			        <li><a href="{% url 'vista_principal' %}">Home</a></li>
			        <li><a href="{% url 'vista_tanita' %}">Tanita</a></li>
			       	<li><a href="{% url 'vista_registro' %}">Registro</a></li>
			        	{% if user.is_authenticated %}
							<li><a href="{% url 'vista_logout' %}"> Cerrar Sesion
						{% else %}
						</li></a>
					 <li><a href="{% url 'vista_login' %}">Login</a></li>
					 {% endif %}	
      			</ul>
    		</div>
  		</nav>
  		</header>
    <div class = "hero-unit">
		{% block content %}
		{% endblock %}
	</div>


  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWoDGHQ7W4NuQg0C_w6IIie-g-pHqz_qc"
  type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/scripts.js"></script>

</body>
<footer>

<script>

  $(document).ready(function() {
    $('select').material_select();
  });
</script>
</footer>

</html>
